@import "bootstrap";

body {
	background-color: #F5F5F1;
	color: #333333;
	font-family: Arial, Helvica, sans-serif;
}

.navbar-default {
	background-color: #EFEFEB;
}

.navbar-default .navbar-brand {
	font-family: guardian-egyptt, georgia, serif;
	font-weight: 400;
	color: #d5641c;
	font-size: 30px;
}

.navbar-default .navbar-nav > li > a {
	font-family: Arial, Helvica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #0192B5;
}

.center {
	text-align: center;

}

/* CSS property called nth-child that we can use to automatically pull this 5th listing, or the 9th listing, or 13th listing, and so on, onto the left side of the row */

.col-md-3:nth-child(4n+1) {
	clear: left;
}

.col-md-6 {
	h3 {font-size: 45px;}
	h5 {font-size: 25px;}
	p {font-size: 18px;}
}

/* this shortens the margins spaces, and makes it look gooood */
.caption {
	h3 {
	 font-size: 17px;
	 margin: 2px;
	}
	p {
	 font-size: 15px;
	 margin: 1px;
	}
}

.jumbotron {
  background-image: url('https://dl.dropboxusercontent.com/s/2n9madlkzj3rsr4/ocean-banner.png');
  h1, h2 {
    font-family: guardian-egyptt, georgia, serif;
  }
 }

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

tr {
	background-color: #FFFFFF;
}

th {
	background-color: whitesmoke;
}
.col1 img { max-width: 80px; }
.col2 img { max-width: 180px; }
.col3 img { max-width: 280px; }
.col4 img { max-width: 380px; }
.col5 img { max-width: 480px; }